.title {
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
}

.black-bg {
    background: url("/public/assets/bg.jpg") center top / 100% repeat-y;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.icon {
    transition: filter 0.4s ease-in-out;
}

.icon:hover {
    filter: drop-shadow(0 0 0.2em rgba(255, 255, 2558, 1));
}

.shinzou-bg {
    background:
        linear-gradient(to right, rgba(0, 0, 0, 0.8) 40%, transparent 100%),
        url("/public/assets/heart3.png") right center / cover no-repeat !important;

    background-blend-mode: normal !important;

}

.slide-clip .swiper-slide .image-holder img {
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.slide-clip .swiper-slide.swiper-slide-active .image-holder img {
    transform: scale(1);
}

.slide-clip .swiper-slide .image-holder {
    clip-path: inset(100% 0 0 0);
    display: block;
}

.slide-clip .swiper-slide.swiper-slide-active .image-holder {
    animation: 1s slide-clip forwards;
}

.slide-clip .swiper-slide.swiper-slide-prev .image-holder,
.slide-clip .swiper-slide.swiper-slide-next .image-holder {
    animation: 1s slide-down;
}

.image-zoom-effect {
    display: flex;
    flex-wrap: wrap;
}

.image-zoom-effect .image-holder {
    width: 100%;
    height: auto;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-zoom-effect:hover .image-holder {
    transform: scale(0.95);
}

.image-zoom-effect img {
    transform: scale(1);
    will-change: transform;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
}

.image-zoom-effect:hover img {
    transform: scale(1.1);
}

.image-zoom {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-box {
    position: relative !important;
    overflow: hidden;
    cursor: pointer;
}

.image-box-item-hidden {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
}

.image-box:hover .image-box-item-hidden {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-container {
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-text {
    color: pink;
    cursor: pointer;
}

.link-text:hover {
    color: pink;
    text-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}

.menu-button-box {
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 10px;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button-icon {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 50%;
}

.menu-button-light {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    position: absolute;
    transition: box-shadow 0.3s ease-in-out;
}

.menu-button-light:hover {
    box-shadow: 0 0 7px white, 0 0 14px white;
}

.comment-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.comment-content {
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px;
}

.comment-section {
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.write-comment-box {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.input-text .MuiOutlinedInput-root {
    border-radius: 20px;
}

.input-text .MuiOutlinedInput-root fieldset {
    border-color: rgba(255, 255, 255, 0.2);
}

.input-text .MuiOutlinedInput-root:hover fieldset {
    border-color: gray;
}

.input-text .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: white;
}

.input-text .MuiOutlinedInput-root .MuiInputBase-input::placeholder {
    color: gray;
    opacity: 0.5;
}

.input-text .MuiOutlinedInput-root .MuiInputBase-input {
    color: white;
    font-family: "Marcellus", "Roboto", sans-serif;
    text-shadow: 1px 1px 2px black;
}
